#model{
    float: none;
    display: inline-flex!important;
    display: -webkit-inline-flex!important;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.5vw;
    fill: #000;
    font-weight: 300;
    height: auto;
    margin-top: 8vh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    user-select: none;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
}

#ext_circle{
    width: 100%;
    height: 100%;
    display: inline-flex;
    display: -webkit-inline-flex;
}
.circle {
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: inline-table;
}

#texture{
    position: absolute;
    content: '';
    height: 44vw;
    width: 108%;
    text-align: center;
    display: inline-flex;
    overflow: hidden;
}

#circle{
    content: '';
    height: 33vw;
    width: 33vw;
    text-align: center;
    display: inline-flex;
}

.circle1{
    position: relative;
    border-radius: 50%;
    list-style: none;
    width: 100%;
    height: 100%;
}

.li {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
}

#texture .li{
    overflow: visible;
    clip-path: none;
    -webkit-clip-path: none;
}


div.ext-circle{
    position: absolute;
    left: -100%;
    width: 200%;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    z-index: 0 !important;
    margin-top: 190%;
}

.circle1 .li .ext-circle{
    left: -100%;
    margin-top: 5%;
}

.li:first-child, .li:nth-child(10), .li:nth-child(11), .li:nth-child(20) {
    clip-path: polygon(0% 0%, 0% 100%, 50% -53%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 50% -53%);
}
.li:nth-child(2), .li:nth-child(9), .li:nth-child(12), .li:nth-child(19) {
    clip-path: polygon(32% 0%, 0% 100%, 100% -38%);
    -webkit-clip-path: polygon(32% 0%, 0% 100%, 100% -38%);

}
.li:nth-child(3), .li:nth-child(8), .li:nth-child(13), .li:nth-child(18) {
    clip-path: polygon(100% 28%, 0% 100%, 100% -38%);
    -webkit-clip-path: polygon(100% 28%, 0% 100%, 100% -38%);
}
.li:nth-child(4), .li:nth-child(7), .li:nth-child(14), .li:nth-child(17) {
    clip-path: polygon(100% 28%, 0% 100%, 100% 68%);
    -webkit-clip-path: polygon(100% 28%, 0% 100%, 100% 68%);
}
.li:nth-child(5), .li:nth-child(6), .li:nth-child(15), .li:nth-child(16) {
    clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
}

.li:first-child .not-active5, .li:nth-child(10) .not-active5, .li:nth-child(11) .not-active5, .li:nth-child(20) .not-active5{
    margin-bottom: 84%;
    margin-left: 10%;
    z-index: 2;
}

.li:first-child .not-active4, .li:nth-child(10) .not-active4, .li:nth-child(11) .not-active4, .li:nth-child(20) .not-active4{
    margin-bottom: 75%;
    margin-left: 10%;
    z-index: 2;
}

.li:first-child .not-active3,  .li:nth-child(10) .not-active3, .li:nth-child(11) .not-active3, .li:nth-child(20) .not-active3{
    margin-bottom: 68%;
    margin-left: 10%;
    z-index: 2;
}

.li:first-child .not-active2, .li:nth-child(10) .not-active2, .li:nth-child(11) .not-active2, .li:nth-child(20) .not-active2{
    margin-bottom: 63%;
    margin-left: 10%;
    z-index: 2;
}

.li:first-child .not-active1, .li:nth-child(10) .not-active1, .li:nth-child(11) .not-active1, .li:nth-child(20) .not-active1{
    margin-bottom: 59%;
    margin-left: 10%;
    z-index: 2;
}



.li:nth-child(2) .not-active1, .li:nth-child(9) .not-active1, .li:nth-child(12) .not-active1, .li:nth-child(19) .not-active1{
    margin-left: 14.8%;
    margin-bottom: 57.6%;
    z-index: 2;

}
.li:nth-child(2) .not-active2, .li:nth-child(9) .not-active2, .li:nth-child(12) .not-active2, .li:nth-child(19) .not-active2{
    margin-left: 16.1%;
    margin-bottom: 61.2%;
    z-index: 2;

}
.li:nth-child(2) .not-active3, .li:nth-child(9) .not-active3, .li:nth-child(12) .not-active3, .li:nth-child(19) .not-active3{
    margin-left: 17.9%;
    margin-bottom: 65.5%;
}
.li:nth-child(2) .not-active4, .li:nth-child(9) .not-active4, .li:nth-child(12) .not-active4, .li:nth-child(19) .not-active4{
    margin-left: 20.3%;
    margin-bottom: 71.9%;
}
.li:nth-child(2) .not-active5, .li:nth-child(9) .not-active5, .li:nth-child(12) .not-active5, .li:nth-child(19) .not-active5{
    margin-left: 23.4%;
    margin-bottom: 80%;
}


.li:nth-child(3) .not-active1, .li:nth-child(8) .not-active1, .li:nth-child(13) .not-active1, .li:nth-child(18) .not-active1{
    margin-left: 18.8%;
    margin-bottom: 54.7%;
}
.li:nth-child(3) .not-active2, .li:nth-child(8) .not-active2, .li:nth-child(13) .not-active2, .li:nth-child(18) .not-active2{
    margin-left: 21.3%;
    margin-bottom: 57.6%;
}
.li:nth-child(3) .not-active3, .li:nth-child(8) .not-active3, .li:nth-child(13) .not-active3, .li:nth-child(18) .not-active3{
    margin-left: 24.6%;
    margin-bottom: 60.9%;
}
.li:nth-child(3) .not-active4, .li:nth-child(8) .not-active4, .li:nth-child(13) .not-active4, .li:nth-child(18) .not-active4{
    margin-left: 29.1%;
    margin-bottom: 65.7%;
}
.li:nth-child(3) .not-active5, .li:nth-child(8) .not-active5, .li:nth-child(13) .not-active5, .li:nth-child(18) .not-active5{
    margin-left: 34.7%;
    margin-bottom: 72%;
}


.li:nth-child(4) .not-active1, .li:nth-child(7) .not-active1, .li:nth-child(14) .not-active1, .li:nth-child(17) .not-active1{
    margin-left: 21.6%;
    margin-bottom: 50.7%;
}
.li:nth-child(4) .not-active2, .li:nth-child(7) .not-active2, .li:nth-child(14) .not-active2, .li:nth-child(17) .not-active2{
    margin-left: 25.1%;
    margin-bottom: 52.3%;
}
.li:nth-child(4) .not-active3, .li:nth-child(7) .not-active3, .li:nth-child(14) .not-active3, .li:nth-child(17) .not-active3{
    margin-left: 29.6%;
    margin-bottom: 54.2%;
}
.li:nth-child(4) .not-active4, .li:nth-child(7) .not-active4, .li:nth-child(14) .not-active4, .li:nth-child(17) .not-active4{
    margin-left: 35.5%;
    margin-bottom: 57.1%;
}
.li:nth-child(4) .not-active5, .li:nth-child(7) .not-active5, .li:nth-child(14) .not-active5, .li:nth-child(17) .not-active5{
    margin-left: 43.2%;
    margin-bottom: 61%;
}


.li:nth-child(5) .not-active1, .li:nth-child(6) .not-active1, .li:nth-child(15) .not-active1, .li:nth-child(16) .not-active1{
    margin-left: 23.2%;
    margin-bottom: 46.1%;
}
.li:nth-child(5) .not-active2, .li:nth-child(6) .not-active2, .li:nth-child(15) .not-active2, .li:nth-child(16) .not-active2{
    margin-left: 27.1%;
    margin-bottom: 46.3%;
}
.li:nth-child(5) .not-active3, .li:nth-child(6) .not-active3, .li:nth-child(15) .not-active3, .li:nth-child(16) .not-active3{
    margin-left: 32.2%;
    margin-bottom: 46%;
}
.li:nth-child(5) .not-active4, .li:nth-child(6) .not-active4, .li:nth-child(15) .not-active4, .li:nth-child(16) .not-active4{
    margin-left: 39%;
    margin-bottom: 46.7%;
}
.li:nth-child(5) .not-active5, .li:nth-child(6) .not-active5, .li:nth-child(15) .not-active5, .li:nth-child(16) .not-active5{
    margin-left: 47.8%;
    margin-bottom: 47.8%;
}



.li:nth-child(9), .li:nth-child(9) .text, .li:nth-child(8), .li:nth-child(8) .text,
.li:nth-child(7), .li:nth-child(7) .text, .li:nth-child(6), .li:nth-child(6) .text,
.li:nth-child(10), .li:nth-child(10) .text{
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
}

.li:nth-child(11), .li:nth-child(11) .text, .li:nth-child(12), .li:nth-child(12) .text,
.li:nth-child(13), .li:nth-child(13) .text, .li:nth-child(14), .li:nth-child(14) .text,
.li:nth-child(15), .li:nth-child(15) .text{
    transform: scaleY(-1) scaleX(-1);
    -webkit-transform: scaleY(-1) scaleX(-1);
}

.li:nth-child(16), .li:nth-child(16) .text, .li:nth-child(17), .li:nth-child(17) .text,
.li:nth-child(18), .li:nth-child(18) .text, .li:nth-child(19), .li:nth-child(19) .text,
.li:nth-child(20), .li:nth-child(20) .text{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.li:nth-child(2) .text{
    margin-left: 40%;
    margin-top: 6%;
}

.li:nth-child(3) .text{
    margin-left: 54%;
    margin-top: 13%;
}

.li:nth-child(4) .text{
    margin-left: 63%;
    margin-top: 21%;
}

.li:nth-child(5) .text{
    margin-left: 77%;
    margin-top: 32%;
}

.li:nth-child(6) .text{
    margin-left: 82%;
    margin-top: 31%;
}

.li:nth-child(7) .text{
    margin-left: 65%;
    margin-top: 21%;
}

.li:nth-child(8) .text{
    margin-left: 59%;
    margin-top: 12%;
}

.li:nth-child(9) .text, .li:nth-child(12) .text{
    margin-left: 34%;
    margin-top: 6%;
}

.li:first-child .text, .li:nth-child(10) .text, .li:nth-child(11) .text, .li:nth-child(20) .text{
    margin-left: 13%;
}


.li:nth-child(14) .text{
    margin-left: 68%;
    margin-top: 21%;
}

.li:nth-child(15) .text{
    margin-left: 80%;
    margin-top: 32%;
}

.li:nth-child(16) .text{
    margin-left: 72%;
    margin-top: 32%;
}

.li:nth-child(17) .text{
    margin-left: 69%;
    margin-top: 21%;
}

#texture .li:first-child .text, #texture .li:nth-child(20) .text, #texture .li:nth-child(11) .text, #texture .li:nth-child(10) .text, #texture .li:nth-child(19) .text{
    margin-top: 3%;
}

#texture .li:nth-child(19) .text{
    margin-top: 6%;
    margin-left: 34%;
}



.li:nth-child(13) .text{
    margin-left: 54%;
    margin-top: 12%;
}

.li:nth-child(18) .text{
    margin-left: 58%;
    margin-top: 12%;
}






.li:first-child div.ext-circle .not-active5 .not-active{
    background: #f1762f;
}

.li:first-child div.ext-circle .not-active4 .not-active{
    background: #f38d46;
}

.li:first-child div.ext-circle .not-active3 .not-active{
    background: #f6a86e;
}

.li:first-child div.ext-circle .not-active2 .not-active{
    background: #f9c49d;
}

.li:first-child div.ext-circle .not-active1 .not-active{
    background: #fbe1cd;
}

.li:nth-child(2) div.ext-circle .not-active5 .not-active{
    background: #f59d31;
}

.li:nth-child(2) div.ext-circle .not-active4 .not-active{
    background: #f7af47;
}

.li:nth-child(2) div.ext-circle .not-active3 .not-active{
    background: #f9c26f;
}

.li:nth-child(2) div.ext-circle .not-active2 .not-active{
    background: #fbd69e;
}

.li:nth-child(2) div.ext-circle .not-active1 .not-active{
    background: #fdebce;
}

.li:nth-child(3) div.ext-circle .not-active5 .not-active{
    background: #fbca32;
}

.li:nth-child(3) div.ext-circle .not-active4 .not-active{
    background: #fcd347;
}

.li:nth-child(3) div.ext-circle .not-active3 .not-active{
    background: #fedd6f;
}

.li:nth-child(3) div.ext-circle .not-active2 .not-active{
    background: #fee89e;
}

.li:nth-child(3) div.ext-circle .not-active1 .not-active{
    background: #fff4ce;
}

.li:nth-child(4) div.ext-circle .not-active5 .not-active{
    background: #fff834;
}

.li:nth-child(4) div.ext-circle .not-active4 .not-active{
    background: #fff849;
}

.li:nth-child(4) div.ext-circle .not-active3 .not-active{
    background: #fff970;
}

.li:nth-child(4) div.ext-circle .not-active2 .not-active{
    background: #fffa9e;
}

.li:nth-child(4) div.ext-circle .not-active1 .not-active{
    background: #fffcce;
}

.li:nth-child(5) div.ext-circle .not-active5 .not-active{
    background: #e6f644;
}

.li:nth-child(5) div.ext-circle .not-active4 .not-active{
    background: #edf76f;
}

.li:nth-child(5) div.ext-circle .not-active3 .not-active{
    background: #f3f99d;
}

.li:nth-child(5) div.ext-circle .not-active2 .not-active{
    background: #f9fdcd;
}

.li:nth-child(5) div.ext-circle .not-active1 .not-active{
    background: #f9fbe1;
}

.li:nth-child(6) div.ext-circle .not-active5 .not-active{
    background: #d5de29;
}

.li:nth-child(6) div.ext-circle .not-active4 .not-active{
    background: #edf737;
}

.li:nth-child(6) div.ext-circle .not-active3 .not-active{
    background: #f2f759;
}

.li:nth-child(6) div.ext-circle .not-active2 .not-active{
    background: #f6f886;
}

.li:nth-child(6) div.ext-circle .not-active1 .not-active{
    background: #fbfab5;
}

.li:nth-child(7) div.ext-circle .not-active5 .not-active{
    background: #a6c31d;
}

.li:nth-child(7) div.ext-circle .not-active4 .not-active{
    background: #cff427;
}

.li:nth-child(7) div.ext-circle .not-active3 .not-active{
    background: #d9f541;
}

.li:nth-child(7) div.ext-circle .not-active2 .not-active{
    background: #e2f76d;
}

.li:nth-child(7) div.ext-circle .not-active1 .not-active{
    background: #ecf89c;
}

.li:nth-child(8) div.ext-circle .not-active5 .not-active{
    background: #7aaa12;
}

.li:nth-child(8) div.ext-circle .not-active4 .not-active{
    background: #9ddb1a;
}

.li:nth-child(8) div.ext-circle .not-active3 .not-active{
    background: #b7f32d;
}

.li:nth-child(8) div.ext-circle .not-active2 .not-active{
    background: #c5f555;
}

.li:nth-child(8) div.ext-circle .not-active1 .not-active{
    background: #d5f683;
}

.li:nth-child(9) div.ext-circle .not-active5 .not-active{
    background: #53900c;
}

.li:nth-child(9) div.ext-circle .not-active4 .not-active{
    background: #6fc111;
}

.li:nth-child(9) div.ext-circle .not-active3 .not-active{
    background: #8bf117;
}

.li:nth-child(9) div.ext-circle .not-active2 .not-active{
    background: #9df33a;
}

.li:nth-child(9) div.ext-circle .not-active1 .not-active{
    background: #b3f46a;
}

.li:nth-child(10) div.ext-circle .not-active5 .not-active{
    background: #387806;
}

.li:nth-child(10) div.ext-circle .not-active4 .not-active{
    background: #53a80b;
}

.li:nth-child(10) div.ext-circle .not-active3 .not-active{
    background: #6bd910;
}

.li:nth-child(10) div.ext-circle .not-active2 .not-active{
    background: #78f122;
}

.li:nth-child(10) div.ext-circle .not-active1 .not-active{
    background: #88f250;
}

.li:nth-child(11) div.ext-circle .not-active5 .not-active{
    background: #296132;
}

.li:nth-child(11) div.ext-circle .not-active4 .not-active{
    background: #42914b;
}

.li:nth-child(11) div.ext-circle .not-active3 .not-active{
    background: #5bc166;
}

.li:nth-child(11) div.ext-circle .not-active2 .not-active{
    background: #73f27e;
}

.li:nth-child(11) div.ext-circle .not-active1 .not-active{
    background: #7bf398;
}

.li:nth-child(12) div.ext-circle .not-active5 .not-active{
    background: #1a4d64;
}

.li:nth-child(12) div.ext-circle .not-active4 .not-active{
    background: #287396;
}

.li:nth-child(12) div.ext-circle .not-active3 .not-active{
    background: #399ac9;
}

.li:nth-child(12) div.ext-circle .not-active2 .not-active{
    background: #4abffb;
}

.li:nth-child(12) div.ext-circle .not-active1 .not-active{
    background: #5ccbfc;
}

.li:nth-child(13) div.ext-circle .not-active5 .not-active{
    background: #003f96;
}

.li:nth-child(13) div.ext-circle .not-active4 .not-active{
    background: #0055c9;
}

.li:nth-child(13) div.ext-circle .not-active3 .not-active{
    background: #006afb;
}

.li:nth-child(13) div.ext-circle .not-active2 .not-active{
    background: #3184fb;
}

.li:nth-child(13) div.ext-circle .not-active1 .not-active{
    background: #69a0fc;
}

.li:nth-child(14) div.ext-circle .not-active5 .not-active{
    background: #003fc8;
}

.li:nth-child(14) div.ext-circle .not-active4 .not-active{
    background: #004ffa;
}

.li:nth-child(14) div.ext-circle .not-active3 .not-active{
    background: #1e66fb;
}

.li:nth-child(14) div.ext-circle .not-active2 .not-active{
    background: #6186fc;
}

.li:nth-child(14) div.ext-circle .not-active1 .not-active{
    background: #96adfc;
}

.li:nth-child(15) div.ext-circle .not-active5 .not-active{
    background: #0048fa;
}

.li:nth-child(15) div.ext-circle .not-active4 .not-active{
    background: #0f57fb;
}

.li:nth-child(15) div.ext-circle .not-active3 .not-active{
    background: #5c79fb;
}

.li:nth-child(15) div.ext-circle .not-active2 .not-active{
    background: #94a2fc;
}

.li:nth-child(15) div.ext-circle .not-active1 .not-active{
    background: #cad0fd;
}

.li:nth-child(16) div.ext-circle .not-active5 .not-active{
    background: #193ac8;
}

.li:nth-child(16) div.ext-circle .not-active4 .not-active{
    background: #1f4afb;
}

.li:nth-child(16) div.ext-circle .not-active3 .not-active{
    background: #545bfb;
}

.li:nth-child(16) div.ext-circle .not-active2 .not-active{
    background: #807bfc;
}

.li:nth-child(16) div.ext-circle .not-active1 .not-active{
    background: #aca4fc;
}

.li:nth-child(17) div.ext-circle .not-active5 .not-active{
    background: #5b3097;
}

.li:nth-child(17) div.ext-circle .not-active4 .not-active{
    background: #7943ca;
}

.li:nth-child(17) div.ext-circle .not-active3 .not-active{
    background: #9755fd;
}

.li:nth-child(17) div.ext-circle .not-active2 .not-active{
    background: #aa63fc;
}

.li:nth-child(17) div.ext-circle .not-active1 .not-active{
    background: #bd80fd;
}

.li:nth-child(18) div.ext-circle .not-active5 .not-active{
    background: #8c2f68;
}

.li:nth-child(18) div.ext-circle .not-active4 .not-active{
    background: #bc428a;
}

.li:nth-child(18) div.ext-circle .not-active3 .not-active{
    background: #ec53ad;
}

.li:nth-child(18) div.ext-circle .not-active2 .not-active{
    background: #ec62bc;
}

.li:nth-child(18) div.ext-circle .not-active1 .not-active{
    background: #ee81cd;
}

.li:nth-child(19) div.ext-circle .not-active5 .not-active{
    background: #be373e;
}

.li:nth-child(19) div.ext-circle .not-active4 .not-active{
    background: #ed484f;
}

.li:nth-child(19) div.ext-circle .not-active3 .not-active{
    background: #ee596e;
}

.li:nth-child(19) div.ext-circle .not-active2 .not-active{
    background: #f07a91;
}

.li:nth-child(19) div.ext-circle .not-active1 .not-active{
    background: #f3a4b6;
}

.li:nth-child(20) div.ext-circle .not-active5 .not-active{
    background: #ed462f;
}

.li:nth-child(20) div.ext-circle .not-active4 .not-active{
    background: #ee5645;
}

.li:nth-child(20) div.ext-circle .not-active3 .not-active{
    background: #f0776e;
}

.li:nth-child(20) div.ext-circle .not-active2 .not-active{
    background: #f3a19e;
}

.li:nth-child(20) div.ext-circle .not-active1 .not-active{
    background: #f8cfce;
}

.active, .not-active{
    cursor: pointer;
    font-weight: bold;
}

.hr{
    position: absolute;
    width: 37vw;
    height: 1px;
    background-color: black;
}

.hrv{
    position: absolute;
    width: 1px;
    height: 37vw;
    background-color: black;
}



#neutral.active, #neutral.not-active, div[id^='neutral['], div[id*=' neutral[']{
    position: absolute;
    left: auto;
    width: 3vw;
    height: 3vw;
    padding-top: 0;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    background-color: lightgray;
    z-index: 1;
    cursor: pointer;
    padding-bottom: 2vw;
    margin: 0;
    box-sizing: border-box;
}

div[id^='neutral['].active, div[id*=' neutral['].active{
    background-color: black;
    opacity: 1;
}

@media (max-width: 800px) {
    #circle{
        margin: 0;
        height: 58vw;
        width: 58vw;
    }
    #texture{
        margin: 0;
        height: 77vw;
        width: 105%;
        font-size: 2.5vw;
    }
    .hr{
        position: absolute;
        width: 62vw;
        height: 1px;
        background-color: black;
    }

    .hrv{
        position: absolute;
        width: 1px;
        height: 62vw;
        background-color: black;
    }
    div[id^='neutral'], div[id*=' neutral']{
        width: 3vw;
        height: 3vw;
    }
    #neutral.active, #neutral.not-active{
        width: 3vw;
        height: 3vw;
    }

    .li:nth-child(2) .text{
        margin-left: 37%;
        margin-top: 6%;
    }

    .li:nth-child(3) .text{
        margin-left: 51%;
        margin-top: 13%;
    }

    .li:nth-child(4) .text{
        margin-left: 59%;
        margin-top: 21%;
    }

    .li:nth-child(5) .text{
        margin-left: 70%;
        margin-top: 29%;
    }

    .li:nth-child(6) .text{
        margin-left: 75%;
        margin-top: 29%;
    }

    .li:nth-child(7) .text{
        margin-left: 61%;
        margin-top: 20%;
    }

    .li:nth-child(8) .text{
        margin-left: 56%;
        margin-top: 13%;
    }

    .li:nth-child(13) .text{
        margin-left: 51%;
        margin-top: 13%;
    }

    .li:nth-child(14) .text{
        margin-left: 62%;
        margin-top: 21%;
    }

    .li:nth-child(15) .text{
        margin-left: 73%;
        margin-top: 29%;
    }

    .li:nth-child(16) .text{
        margin-left: 66%;
        margin-top: 29%;
    }

    .li:nth-child(17) .text{
        margin-left: 64%;
        margin-top: 20%;
    }

    .li:nth-child(18) .text{
        margin-left: 55%;
        margin-top: 12%;
    }

    .li:nth-child(19) .text{
        margin-left: 30%;
        margin-top: 6%;
    }
    /* #texture .li:first-child .text, #texture .li:nth-child(20) .text, #texture .li:nth-child(11) .text, #texture .li:nth-child(10) .text, #texture .li:nth-child(19) .text{
         margin-top: 1.8vw;
     }

     #texture .li:nth-child(3) .text, #texture .li:nth-child(7) .text, #texture .li:nth-child(9) .text, #texture .li:nth-child(12) .text, #texture .li:nth-child(16) .text{
         margin-top: 1.5vw;
     }
     #texture .li:nth-child(8) .text{
         margin-top: -1%;
     }
     #texture .li:nth-child(4) .text{
         margin-top: 1.5%;
     }
     #texture .li:nth-child(6) .text{
         margin-top: -3vw;
     }

     */
}

.not-active1, .not-active2, .not-active3, .not-active4, .not-active5{
    left: 41%;
    bottom: 5%;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    display: inline-table;
    box-sizing: content-box;
}

.not-active5{
    width: 10%;
}

.not-active4{
    width:8%;
}

.not-active3{
    width:6%;
}

.not-active2{
    width:4%;
}

.not-active1{
    width:3%;
}

.not-active, .active{
    width: 101%;
    height:0;
    padding-bottom: 101%;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    overflow:hidden;
    box-sizing: border-box;
    z-index: 2;
}

.active{
    background: black;
}

.li .text, .text-header, #sentence{
    user-select: none;
}
