html {
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: 'Montserrat';
}

h1 {
    text-align: center;
    padding: 2%;
}

#info{
    text-align: center;
    margin: 10%;
}
